Repository homer-yttc/gatsby-baseline: changes, and which lefthook commands are due for each by the changed paths.
All: lint-fix, formatter, lint-check, sass-check

lint-fix:
  run: eslint {staged_files} --ext .js,.jsx --quiet

formatter:
  run: prettier --write {staged_files} --loglevel error

lint-check:
  run: eslint {staged_files} --ext .js,.jsx --quiet

sass-check:
  run: stylelint --fix --quiet {staged_files}

* Adding stylelint support * Adding postcss support
  lefthook.yml
  src/components/layout/Header/_header.scss
Due: formatter

* Testing pre-commit/pre-push checks
  lefthook.yml
  src/components/layout/Header/_header.scss
Due: formatter

* Testing pre-commit/pre-push checks
  package.json
  src/components/layout/Header/_header.scss
Due: formatter

* Testing pre-commit checks
  lefthook.yml
  package.json
  src/components/layout/Header/_header.scss
Due: formatter

* Testing pre-commit checks * Revising run scripts for consistent naming
  lefthook.yml
  package.json
Due: none

* Addressing issues with the transition sample links
  src/components/samples/TransitionLinks/TransitionLinks.js
Due: lint-fix, formatter, lint-check

* Cleaning up ordering of plugins against README
  README.md
  gatsby/config/hosting.js
  gatsby/config/meta.js
  gatsby/config/ui.js
Due: lint-fix, formatter, lint-check

* Cleaning up ordering of plugins against README
  README.md
  gatsby/config/hosting.js
Due: lint-fix, formatter, lint-check

* Adding global context state handling * Continuing to revise linting
  .eslintrc.js
  README.md
  gatsby-browser.js
  gatsby-config.js
  gatsby/browser/wrapRootElement.js
  gatsby/config/accessibility.js
  gatsby/config/data-source.js
  gatsby/config/hosting.js
  gatsby/config/index.js
  gatsby/config/media.js
  gatsby/config/meta.js
  gatsby/config/security.js
  gatsby/config/tooling.js
  gatsby/config/ui.js
  package.json
  site-settings.js
  src/components/layout/Header/Header.js
  src/components/layout/Layout/Layout.js
  src/components/meta/SEO/SEO.js
  src/components/samples/KitchenSink/KitchenSink.js
  src/components/samples/TransitionLinks/TransitionLinks.js
  src/components/samples/TransitionLinks/animations.js
  src/lib/state/AppReducer.js
  src/lib/state/initialAppState.js
  src/lib/state/settings/reducer.js
  src/lib/state/useAppContext.js
Due: lint-fix, formatter, lint-check

* Replacing consola (failing builds) in favour of badgee, a browser console replacement to ensure one config change away from killing all console logging left over in code
  .eslintrc.js
  package.json
  src/components/pages/index.js
  src/components/samples/Modal/Modal.js
  src/lib/console.js
  src/lib/hooks/useModal.js
Due: lint-fix, formatter, lint-check

* MD dialogs already spawn outside if the dom where they're called, no need for portaling here
  src/lib/hooks/useModal.js
Due: lint-fix, formatter, lint-check

* Moving the rendering of the useModal dialog into it's own sub-component to avoid clutter
  .eslintrc.js
  src/components/layout/Layout/Layout.js
  src/lib/hooks/Modal/Modal.js
  src/lib/hooks/useModal.js
Due: lint-fix, formatter, lint-check

* Beginning to vet out cypress testing
  .eslintignore
  cypress.json
  cypress/fixtures/example.json
  cypress/lib/scenario.js
  cypress/lib/viewport.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  tests/e2e/home.js
Due: lint-fix, formatter, lint-check

* Enhacning usage of .env and digest of these shared vars for builds * Adding package lock and running update
  .env
  .env.development
  .env.production
  .gitignore
  gatsby-config.js
  gatsby/env.js
  package-lock.json
  package.json
  site-settings.js
Due: lint-fix, formatter, lint-check

* Enhacning usage of .env and digest of these shared vars for build
  gatsby/env.js
Due: lint-fix, formatter, lint-check

* Debugging issues with sass compilation
  gatsby-config.js
  gatsby/config/ui.js
  gatsby/env.js
  package-lock.json
  package.json
  site-settings.js
Due: lint-fix, formatter, lint-check

* Patching issues with Sass source mapping
  gatsby/config/ui.js
  gatsby/env.js
  package-lock.json
  package.json
Due: lint-fix, formatter, lint-check

* Adding build logging tools * Adding new deps from readme
  gatsby-config.js
  gatsby/env.js
  gatsby/logging.js
  package-lock.json
  package.json
Due: lint-fix, formatter, lint-check

Updates
  404.html
  404/index.html
  _headers
  chunk-map.json
  component---src-components-pages-404-js-41e52c5555b5383752d4.js
  component---src-components-pages-404-js-41e52c5555b5383752d4.js.map
  component---src-components-pages-index-js-226b071e4d2c0dcf330a.js
  component---src-components-pages-index-js-226b071e4d2c0dcf330a.js.map
  component---src-components-pages-page-2-js-62d3593d4cb2e11dac10.js
  component---src-components-pages-page-2-js-62d3593d4cb2e11dac10.js.map
  index.html
  manifest_en.webmanifest
  page-2/index.html
  page-data/404.html/page-data.json
  page-data/404/page-data.json
  page-data/index/page-data.json
  page-data/page-2/page-data.json
  webpack-runtime-544d209d16dbb859081b.js
  webpack-runtime-544d209d16dbb859081b.js.map
  webpack.stats.json
Due: lint-fix, formatter, lint-check

* Addressing babel build issues * Moving sample components out of the components folder, not to elude that they belog as site components * Revising package details and ensuring proper author naming...
  .babelrc
  README.md
  package-lock.json
  package.json
  site-settings.js
  src/components/pages/index.js
  src/components/pages/page-2.js
  src/samples/KitchenSink/KitchenSink.js
  src/samples/Modal/Modal.js
  src/samples/TransitionLinks/TransitionLinks.js
  src/samples/TransitionLinks/animations.js
Due: lint-fix, formatter, lint-check

* Testing netlify builds
  .nvmrc
  package.json
  site-settings.js
Due: lint-fix, formatter, lint-check

* Ensuring netlify only plugins run only on netlify * Revising logging details
  gatsby/config/hosting.js
  gatsby/logging.js
Due: lint-fix, formatter, lint-check

* Adding netlify status badge
  README.md
Due: none

* Reorganizing readme, placement of config handling * Adding webworker build/run support for gatsby
  README.md
  gatsby-node.js
  gatsby/config/hosting.js
  gatsby/config/tooling.js
  gatsby/config/ui.js
  gatsby/node/index.js
  gatsby/node/webWorkers.js
  package-lock.json
  package.json
Due: lint-fix, formatter, lint-check

* Updating package versions
  package-lock.json
  package.json
Due: none

Updates
  404.html
  404/index.html
  app-0a41ba111be21d1e3e8f.js
  app-0a41ba111be21d1e3e8f.js.map
  chunk-map.json
  commons-4cf66a9c7d044d824dd7.js
  commons-4cf66a9c7d044d824dd7.js.map
  component---src-components-pages-404-js-c86856182862f77bd013.js
  component---src-components-pages-404-js-c86856182862f77bd013.js.map
  component---src-components-pages-index-js-a4f9c039dc0f82bb5a82.js
  component---src-components-pages-index-js-a4f9c039dc0f82bb5a82.js.map
  component---src-components-pages-page-2-js-5141d1d74bef0b1083aa.js
  component---src-components-pages-page-2-js-5141d1d74bef0b1083aa.js.map
  index.html
  page-2/index.html
  page-data/404.html/page-data.json
  page-data/404/page-data.json
  page-data/index/page-data.json
  page-data/page-2/page-data.json
  robots.txt
  sitemap.xml
  static/d/2969191536.json
  styles-9ed8ce184719078dfa1c.js
  styles-9ed8ce184719078dfa1c.js.map
  styles.569d3c7d3c52e9b1ffa7.css
  webpack-runtime-0e5ed7b355ff12cf8d96.js
  webpack-runtime-0e5ed7b355ff12cf8d96.js.map
  webpack.stats.json
Due: lint-fix, formatter, lint-check

Updates
  404.html
  404/index.html
  app-07cebc81915a2d9c463a.js
  app-07cebc81915a2d9c463a.js.map
  chunk-map.json
  commons-cd04b6e48a4f23497b68.js
  commons-cd04b6e48a4f23497b68.js.map
  component---src-components-pages-404-js-62194f8d6c6b37e339e0.js
  component---src-components-pages-404-js-62194f8d6c6b37e339e0.js.map
  component---src-components-pages-index-js-33541b7352a5c14ea000.js
  component---src-components-pages-index-js-33541b7352a5c14ea000.js.map
  component---src-components-pages-page-2-js-c6e26fb543ff56a0cf34.js
  component---src-components-pages-page-2-js-c6e26fb543ff56a0cf34.js.map
  index.html
  page-2/index.html
  page-data/404.html/page-data.json
  page-data/404/page-data.json
  page-data/dev-404-page/page-data.json
  page-data/index/page-data.json
  page-data/page-2/page-data.json
  styles-b157c2f457deb6874a27.js
  styles-b157c2f457deb6874a27.js.map
  styles.0df259ac09355df6afc6.css
  styles.569d3c7d3c52e9b1ffa7.css
  webpack-runtime-1658a49905d739254acc.js
  webpack-runtime-1658a49905d739254acc.js.map
  webpack.stats.json
Due: lint-fix, formatter, lint-check

* Revising readme structure to make it more explicit on the various aspects being supported
  README.md
  gatsby/config/security.js
  gatsby/config/tooling.js
Due: lint-fix, formatter, lint-check

* Revising readme structure to make it more explicit on the various aspects being supported
  README.md
Due: none

* Identifying that, with latest package versions the component index/pathing solution is once again viable now that hooks run with less hiccups in react 16.9.x
  README.md
  src/components/layout/Layout/Layout.js
  src/components/layout/Memoized/Memoized.js
  src/components/layout/index.js
  src/components/media/index.js
  src/components/meta/index.js
  src/components/pages/index.js
Due: lint-fix, formatter, lint-check

### Sept 21, 2019
  .env.production
  .gitignore
  .stylelintrc
  CHANGELOG.md
  README.md
  gatsby/config/tooling.js
  package-lock.json
  package.json
Due: lint-fix, formatter, lint-check

* WIP updates from new data digest apporach
  .eslintrc.js
  .nvmrc
  README.md
  gatsby-browser.js
  gatsby-config.js
  gatsby-node.js
  gatsby-ssr.js
  gatsby/browser/index.js
  gatsby/browser/wrapRootElement.js
  gatsby/config/accessibility.js
  gatsby/config/data-source.js
  gatsby/config/hosting.js
  gatsby/config/index.js
  gatsby/config/media.js
  gatsby/config/meta.js
  gatsby/config/security.js
  gatsby/config/tooling.js
  gatsby/config/ui.js
  gatsby/env.js
  gatsby/logging.js
  gatsby/node/createPages.js
  gatsby/node/createPages/createNodePage.js
  gatsby/node/createPages/drupal/field.js
  gatsby/node/createPages/drupal/index.js
  gatsby/node/createPages/drupal/menu.js
  gatsby/node/createPages/drupal/node.js
  gatsby/node/createPages/index.js
  gatsby/node/createSchemaCustomization.js
  gatsby/node/index.js
  gatsby/node/onCreateWebpackConfig.js
  package-lock.json
  package.json
  src/lib/transform/drupal/paragraph.js
  src/lib/transform/drupal/paragraphTypes.js
  src/lib/transform/index.js
  src/styles/_root.scss
  src/styles/root/_fonts.scss
  src/styles/root/_index.scss
Due: lint-fix, formatter, lint-check

* Flushing out WP connection * Addressing build issues * Debugging root wrapRootElement issue, WIP
  .env.development
  data/content/blocks/footer-cta.json
  data/content/images/gatsby-icon.png
  data/content/labels/ui.json
  data/content/layout/layout.json
  data/content/nodes/basicPages/404.json
  data/content/nodes/blogs/blog1.json
  data/content/nodes/caseStudies/404.json
  data/content/nodes/configPages/404.json
  data/content/nodes/landingPages/404.json
  data/graphql/allWpPosts.graphql
  data/graphql/allWpPosts.js
  data/graphql/wpSeo.graphql
  data/html/text.html
  gatsby-browser.js
  gatsby/config/data-source.js
  gatsby/env.js
  gatsby/node/createPages.js
  gatsby/node/createPages/common/field.js
  gatsby/node/createPages/createNodePage.js
  gatsby/node/createPages/pageTransformers.js
  gatsby/node/createPages/wordpress/index.js
  gatsby/node/createPages/wordpress/posts.js
  package-lock.json
  package.json
  site-settings.js
  src/components/layout/Memoized/Memoized.js
  src/lib/domChecks.js
  src/lib/index.js
  src/pages/404.js
  src/pages/index.js
  src/pages/page-2.js
  src/styles/_root.scss
  src/styles/root/_index.scss
  src/templates/WpPosts/WpPosts.js
  src/templates/WpPosts/WpPosts.scss
Due: lint-fix, formatter, lint-check

* Flushing out WP connection * Addressing build issues * Debugging root wrapRootElement issue, WIP
  gatsby-browser.js
Due: lint-fix, formatter, lint-check

* Flushing out WP connection * Addressing build issues * Debugging root wrapRootElement issue, WIP
  gatsby/config/hosting.js
  gatsby/node/createPages.js
  gatsby/node/createPages/pageTransformers.js
  gatsby/node/createPages/wordpress/posts.js
  gatsby/node/index.js
  src/components/layout/Layout/Layout.js
  src/lib/hooks/index.js
  src/lib/index.js
  src/lib/static/index.js
  src/samples/Modal/Modal.js
  src/samples/TransitionLinks/TransitionLinks.js
  src/samples/index.js
  src/templates/WpPosts/WpPosts.js
  src/templates/WpPosts/WpPosts.scss
Due: lint-fix, formatter, lint-check

* Adding Express js serve option for testing
  data/html/text.html
  package.json
  server.js
Due: lint-fix, formatter, lint-check

Path conditions:
  lint-fix: any of: *.{js,jsx}
  formatter: any of: *.{js,jsx,scss}
  lint-check: any of: *.{js,jsx}
  sass-check: any of: *.{scss}
